bin/
obj/
.vs/
.idea/
artifacts/
publish/
installer/dist/
server-dist/
AppPackages/
BundleArtifacts/
*.user
*.suo
*.userosscache
*.sln.docstates
*.log
TestResults/
[Ss]ettings.settings
.mimosa/
Thumbs.db
